.Content {

}

/*Home pagina*/

.home-welkom-tekst{
	text-align: center;
	color: #5b544b;
	margin-bottom: 25px;
	margin-top: -25px;
}

.home-welkom-tekst h1{
	font-weight: normal;
}

.home-welkom-tekst p{
	font-weight: 600;
}

.informatie p{
	font-weight: 600;
}

.home-welkom-bedrijfsnaam{
	font-weight: bold;
	display: inline;
}

.full-bg{
	background-color: #e6e2dd;
	padding-top: 30px;
	padding-bottom: 110px;
}

.full-bg-twee{
	background-color: #e6e2dd;
	padding-top: 30px;
	padding-bottom: 110px;
	margin-top: 90px;
}

.content-box-large{
	-webkit-box-shadow: 1px 1px 22px 0px rgba(50, 50, 50, 0.54);
	-moz-box-shadow:    1px 1px 22px 0px rgba(50, 50, 50, 0.54);
	box-shadow:         1px 1px 22px 0px rgba(50, 50, 50, 0.54);
	border:3px solid #ffffff;
	img {
		display: block;
	}
}

.content-box{
	height:100%;
	position: relative;
}

.content-text {
	width: 98%;
	height: 29px;
	background: rgba(0, 0, 0, 0.4);
	position: absolute;
	text-align: center;
	padding-top: 4px;
	color: #ffffff;
	top: -11px;
	left: 3px;
}

.afspraak-nummer{
	width: 98%;
	height: 49px;
	background: #700f3d;
	font-weight: 600;
	position: absolute;
	text-align: center;
	padding-top: 4px;
	color: #ffffff;
	top: 140px;
	left: 3px;
}

.content-text-small {
	width: 97%;
	height: 29px;
	background: rgba(0, 0, 0, 0.4);
	position: absolute;
	text-align: center;
	padding-top: 4px;
	color: #ffffff;
	top: -11px;
	left: 3px;
}
.tekst-accessoires{
	color: #700f3d;
	font-size: 20px;
}

.slider-inhoud1{
	position: absolute;
	right: 0;
	top: 160px;
}

.slider-tekst{
	background: rgba(255, 255, 255, 0.8);
	color: #5b544b;
	font-size: 24px;
	height: 65px;
	padding-left: 17px;
	padding-top: 12px;
	width:  570px;
}

.slider-tekst-caption {
	background: rgba(111, 8, 60, 0.8);
	color: #ffffff;
	font-size: 14px;
	height: 36px;
	margin-top: -24px;
	padding-left: 20px;
	padding-top: 6px;
	width: 570px;
}

.slider{
	margin-top: 60px;
}

.informatie p{
	color: #5b544b;
}

.paars-tekst{
	color: #700f3d;
}

/*<-- einde home pagina />*/




/*Verschillende settings*/


.afspraak-box{
	margin-top: 109px;
	position: relative;
}

.google-play{
 	 display: block;
 	 margin-top: 30px;
}

.qr_code{
	width: 200px;
	margin-top: 30px;
}
/*<-- einde verschillende settings/>*/




/*Gallery settings*/


.ngg-gallery-thumbnail-box {
	margin-right: 25px !important;
}

.ngg-gallery-thumbnail img, .ngg-navigation a.page-numbers, .next{
	border: 0 !important;

	&:hover{

		background-color: #700f3d !important;
	}
}

.ngg-album-gallery-image-counter{
	display: none;
}

.ngg-album-compactbox .Thumb{
	min-width: 160px !important;
}

.ngg-album-compactbox:before{
	display: none !important;
}

.ngg-album-compactbox:after{
	display: none !important;	
}

.ngg-album-compactbox {
padding: 10px 10px 8px 10px!important;
border: 1px solid #000000 !important;
border-radius: 3px;
background: #ffffff;
}
/*<-- einde gallery settings/>*/

@media all and (max-width: 1200px){ 
  .afspraak-nummer{
    display: none;
  }
}

@media all and (max-width: 800px){ 
  .slider{
    display: none;
  }
}

@media all and (max-width: 600px){ 
  .home-welkom-tekst h1{
  	font-size: 26px;
  }

  .content-box-large{
  	margin-bottom: 20px;
  }

  .content-box-large img{
  	width: 100%;
  }

  .content-text-small{
  	width: 98%;
  }

  .content-text{
  	width: 98%;
  }

.ngg-gallery-thumbnail-box {
  	margin-left: 17%;
  }

}